/* Обнуление свойств */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    height: 100%;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #252B42;
    
}
/* ---------- Контейнеры ---------- */
.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    overflow: hidden;
    
}
._container {
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}
._ibg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* ---------- Шапка ---------- */
.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    align-items: center;
    min-height: 104px;
}
@media (max-width: 479px) {
    .header__container {
        min-height: 70px;
    }
}
.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: inherit;
}
.header__menu {
    margin: 0 0 0 133px;
}
@media (max-width: 992px) {
    .header__menu {
        margin: 0 0 0 80px;
    }
}
@media (max-width: 767px) {
    .header__menu {
        margin: 0 0 0 50px;
    }
}
@media (max-width: 479px) {
    .header__menu {
        margin: 0 0 0 20px;
    }
}
.menu {
    padding: 5px 0;
}
.menu__list {
    display: flex;
    flex-wrap: wrap;
}
.menu__item:not(:last-child) {
    margin: 0 21px 0 0;
}
.menu__link {
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
    color: #737373;
}
@media (max-width: 479px) {
    .menu__link {
        font-size: 18px;
    }
}
/* ---------- Основной блок ---------- */
.page {
    flex: 1 1 auto;
}
.page__main-block {
}
.page__services {
    position: relative;
    z-index: 2;
    margin: -111px 0 0 0;
}
/* ----------Нижний блок ---------- */
.footer {
    margin: 0;
}
/* ---------- Основной блок ---------- */
.main-block {
    position: relative;
}
.main-block__body {
    position: relative;
    z-index: 20;
    max-width: 400px;
    padding: 184px 0 191px 0;
}
@media (max-width: 992px) {
    .main-block__body {
        padding: 120px 0 191px 0;
    }
}
@media (max-width: 479px) {
    .main-block__body {
        padding: 115px 0 160px 0;
    }
}
.main-block__body > *:not(:last-child){
    margin: 0 0 35px 0;
}
.main-block__title {
    font-size: 58px;
    font-weight: 800;
    line-height: calc(80 / 58 * 100%);
    letter-spacing: 0.2px;
}
@media (max-width:479px) {
    .main-block__title {
        font-size: 48px;
    }
}
.main-block__text {
    font-size: 20px;
    font-weight: 500;
    line-height: calc(30 / 20 * 100%);
    color: #737373;
}
@media (max-width:479px) {
    .main-block__text {
        color: #494949;
    }
}
.main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px 0;
}
.main-block__button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
    margin: 10px 0;
    padding: 5px 36px;
    border-radius: 37px;
    font-weight: 700;
    letter-spacing: 0.2px;
    line-height: calc(28 / 14 * 100%);
    text-align: center;
}
@media (min-width:479px) {
    .main-block__button:not(:last-child) {
        margin-right: 10px;
    }
}
.main-block__button_orange {
    background-color: #FF7B47;
    color: #fff;
}
.main-block__button_border {
    color: #0D5C63;
    border: 1px solid #0D5C63;
}
@media (max-width:479px) {
    .main-block__button {
       flex: 1 1 100%;
    }
}
.main-block__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width: 1300px) {
    .main-block__image img {
        object-position: right;
    }
}
@media (max-width: 992px) {
    .main-block__image img {
        opacity: 0.5;
    }
}
/* ---------- Блок сервисов ---------- */
.services {
}
.services__container {
}
.services__body {
}
@media (min-width: 670px) {
    .services__body {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
}
.services__column {
    flex: 0 1 33.333%;
}
@media (min-width: 670px) {
    .services__column {
        padding: 0 15px;
    }
}
@media (max-width: 992px) {
    .services__column {
        flex: 0 1 50%;
    }
    .services__column:last-child {
        flex: 1 1 100%;
    }
    .services__column:not(:last-child) {
        margin: 0 0 30px 0; 
    }
}
.services__item {
    height: 100%;
    padding: 35px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    background-color: #fff;
}
@media (max-width:479px) {
    .services__item {
        padding: 25px;
    }
}
.item-service {
}
.item-service_green {
    background-color: #0D5C63;
}
.item-service_green .item-service__title {
    color: #fff;
}
.item-service_green .item-service__text {
    color: #fff;
}
.item-service > *:not(:last-child) {
    margin: 0 0 10px 0;
}
.item-service__icon {
}
.item-service__title {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
    line-height: 133%;
}
.item-service__text {
    line-height: 142%;
    color: #737373;
}